body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.projects-container {
    width: 20rem;
    margin-left: 1rem;
}

.projects-container-title {
    font-weight: 800;
    margin-top: 1rem;
}

.projects-list {
    list-style-type: none;
    padding-left: 0rem;
    margin-left: 1rem;
}

.project {
    margin: 0.75rem 0rem;
}

.active-project {
    font-weight: bold;
}

.delete-project-btn {
    margin-top: 10rem;
    margin-left: 1rem;
    background-color: lightpink;
    border-radius: 1rem;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
}

.task-container-title {
    font-weight: 800;
}

.new-task-form {
    display: flex;
}

.completed-task {
    text-decoration: line-through;
}

.create-task-btn {
    border-style: none;
    background-color:unset;
    font-weight: 800;
    font-size: 1.5rem;
}

.new-task-input {
    width: 20rem;
    height: 1.5rem;
    margin-left: 0.5rem;
}

.tasks-container {
    padding: 1rem;
    width: 30rem;;
    margin-right: 1rem;
    background-color: lightgray;
    border-radius: 1rem;
}

.all-tasks {
    padding-left: 0.5rem;
}

.task-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.left-task-panel {
    display: flex;
}

.complete-button {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.right-task-panel {
    margin: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-due-date {
    display: flex;
    white-space: nowrap;
}

.selected-task {
    font-weight: 800;
}

#edit-task-btn {
    display: flex;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-color: lightgray;
    border-radius: 2rem;
}

.modal-header {
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  width: 50rem; /* Half width */
  height: 20rem; /* Half height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #fefefe;
  margin: 1rem auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.save-task-edits-btn {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  margin-top: 5rem;
}

.close-edit-task-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 5rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}