.main-container {
    display: flex;
    justify-content: space-between;
}

.projects-container {
    width: 20rem;
    margin-left: 1rem;
}

.active-project {
    font-weight: bold;
}

.tasks-container {
    width: 30rem;;
    margin-right: 1rem;
    background-color: lightgray;
}
